<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Push</title>
</head>
<body>
    <header>
        <h1 style="text-align: center;">Login</h1>
    </header>

    <section id="login">
        <form action="" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <br>
            <input type="submit" value="Login">
        </form>
    </section>
</body>
</html>